In [3]:
import pandas as pd
import numpy as np
import os
#from env import get_db_url
def get_db_url(db):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [8]:
def new_titanic_data():
#this should read the data from codeups db 
#we have to use sql querey
    sql_query = 'select * from passengers'
    df = pd.read_sql(sql_query, get_db_url('titanic_db'))
    return df
# this should put the titanic stuff into a dataframe

In [9]:
def get_titanic_data():
    #reads from codeups db, writes data locally to csv if one doesnt
    #exist yet, and returns a dataframe
    if os.path.isfile('titanic_df.csv'):
        df = pd.read_csv('titanic_df.csv', index_col=0) #reads csv if extant
    else:
        df = new_titanic_data() #runs the new data func above
        df.to_csv('titanic_df.csv') #writes the DF to CSV

In [13]:
#iris data from codeup DB into a dataframe
def new_iris_data():
    sql_query ="""
                SELECT 
                    species_id,
                    species_name,
                    sepal_length,
                    sepal_width,
                    petal_length,
                    petal_width
                FROM measurements
                JOIN species USING(species_id)"""
                
    #now read that into a dataframe
    df = pd.read_sql(sql_query, get_db_url('iris_db'))
    return df

In [14]:
def get_iris_data():  #checks if csv exists, then reads it or makes one
    if os.path.isfile('iris_df.csv'):
        df = pd.read_csv('iris_df.csv', index_col=0)
    else:
        df = new_iris_data()
        df.to_csv('iris_df.csv')
    return df

In [15]:
def new_telco_data():    #reads telco data info a df
    sql_query = """
                select * from customers
                join contract_types using (contract_type_id)
                join internet_service_types using (internet_service_type_id)
                join payment_types using (payment_type_id)"""
                
    df = pd.read_sql(sql_query, get_db_url('telco_churn'))
    return df

In [16]:
def get_telco_data(): #checks for existing telco csv and makes one if not
    if os.path.isfile('telco.csv'):
        df = pd.read_csv('telco.csv', index_col=0)
    else:
        df = new_telco_data()
        df.to_csv('telco.csv')
    return df